@font-face {
  font-family: "neue machina";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/ppneuemachina-regular.woff2") format("woff2"),
    url("./fonts/ppneuemachina-regular.woff") format("woff");
}

@font-face {
  font-family: "neue machina";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/ppneuemachina-ultrabold.woff2") format("woff2"),
    url("./fonts/ppneuemachina-ultrabold.woff") format("woff");
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font: medium/1.25 "neue machina", sans-serif;
}

canvas {
  display: block;
}

#googleContainer {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
}

#googleText {
  margin: 5px;
}

#googleLogo {
  margin: 5px;
  width: 132px;
  /* Increased from 110px to 132px (20% bigger) */
}

#tutorialContainer {
  position: fixed;
  bottom: 0px;
  margin-bottom: 0px;
  width: 100%;
  height: 72px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 10;
  display: none;
}

#tutorialText {
  margin-bottom: 0px;
  padding-top: 24px;
  font-size: 20px;
  width: 100%;
  height: 100%;
  background-color: #222222;
  color: #fff;
  justify-content: center;
}

/* Welcome Text */
#floatingTextContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-left: 45px;
  display: flex;
  flex-direction: column;
  z-index: 999;
  pointer-events: none;
  width: 80%;
  transition: opacity 0.5s ease-in-out;
}

#floatingText {
  font-size: 20px;
  color: white;
  background-color: #00000095;
  padding: 40px 40px 4px 40px;
  transition: opacity 0.5s ease-out;
  overflow-y: auto;
  display: none;
  flex-direction: column;
  transition: opacity 0.5s ease-in-out;
}

@media screen and (height < 400px) {
  #floatingText {
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 4px;
  }
}

#title {
  font-weight: 700;
}

#madeBy {
  margin-top: 16px;
  font-size: 12px;
  font-style: italic;
  text-align: right;
  transform: translateX(24px);
}

ul {
  list-style-type: square;
}

/* Loading New Artwork */
#loadingOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  z-index: 1000;
}

#popupMessage {
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 40%;
  padding: 8px;
  border-radius: 5px;
  align-items: center;
  gap: 20px;
  transform: translate(-50%, -50%);
  background-color: #00000095;
  text-align: center;
  justify-content: center;
}

#loadingDiv {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: rotate(-90deg) translate(50%, -50%);
  width: 10%;
  display: none;
}

#loadingText {
  color: #fff;
  font-size: 1rem;
  position: relative;
  font-family: Monospace;
}

@media screen and (max-width: 768px) {
  #loadingDiv {
    width: 25%;
    /* Adjusted width for mobile devices */
  }

  #loadingText {
    font-size: 0.8rem;
  }

  #popupMessage {
    width: 75%;
  }

  #floatingText {
    font-size: 18px;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #loadingDiv {
    width: 15%;
  }

  #loadingText {
    font-size: 0.8rem;
  }

  #popupMessage {
    width: 75%;
  }

  #floatingText {
    font-size: 16px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #loadingDiv {
    width: 15%;
  }

  #loadingText {
    font-size: 0.8rem;
  }

  #popupMessage {
    width: 75%;
  }

  #floatingText {
    font-size: 18px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #loadingDiv {
    width: 15%;
  }

  #loadingText {
    font-size: 0.85rem;
  }

  #popupMessage {
    width: 60%;
  }

  #floatingText {
    font-size: 20px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #loadingDiv {
    width: 12%;
  }

  #loadingText {
    font-size: 0.9rem;
  }

  #popupMessage {
    width: 55%;
  }

  #floatingText {
    font-size: 22px;
  }

  #madeBy {
    font-size: 16px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  #loadingDiv {
    width: 10%;
  }

  #loadingText {
    font-size: 1.1rem;
  }

  #popupMessage {
    width: 55%;
  }

  #floatingText {
    font-size: 24px;
  }
}

/* ----- Options Section -----*/
#optionsSection {
  position: fixed;
  bottom: 20px;
  left: 10px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

#addVertexButton {
  font-size: 24px;
  position: absolute;
  bottom: 120px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: none;
  color: white;
  background-color: #55ee55;
  transition: background-color 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.animated {
  animation: pulse 2s infinite;
}

#infoButton {
  font-size: 24px;
  position: absolute;
  bottom: 60px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: none;
  color: white;
  background-color: #54545482;
  transition: background-color 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ----- Camera Options ----- */
#cameraButtonContainer {
  display: flex;
  align-items: center;
}

/* Main camera button */
#mainCameraButton {
  background-color: #54545482;
  border: none;
  border-radius: 50%;
  padding: 22px;
  cursor: pointer;
  margin-right: 10px;
}

#mainCameraButton:hover {
  background-color: #545454;
}

/* Camera mode buttons */
.camera-button {
  background-color: #54545482;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.camera-button:hover {
  background-color: #545454;
}

.camera-icon {
  width: 24px;
  height: 24px;
}

#cameraImage,
#backImage {
  width: 24px;
  height: 24px;
  position: absolute;
  opacity: 1;
  transition: opacity 0.2s ease-out;
}

#backImage {
  opacity: 0;
}

/* Fade-out animation */
@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

/* Fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.fade-out {
  animation: fadeOut 0.2s forwards;
}

.fade-in {
  animation: fadeIn 0.8s forwards;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

/* -------- Share -------- */
.floating__share {
  position: absolute;
  top: 120%;
  padding: 8px;
  font-size: larger;
  font-weight: 700;
  font-family: "neue machina";

  color: black;
  background-color: #ffffff95;
  border-radius: 4px;
  cursor: pointer;
}